.poem{
    display: block;
    text-align: center;
    background-color: #8a2be2;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
}
.nav{
    display: block;
}
.poem4 {
    font-family: 'Pacifico';
    color: #ff00ff;
}
h1 {
    text-align: center;
    font-size: 70px;
}
.poem4:first-letter {
    color: #4400ff;
    font-size: 120px;
}
.para {
    font-family: 'Poppins';
    font-weight: bold;
    color: #008080;
}
p {
    text-align: center;
    font-size: 25px;
}
.para:first-line {
    color: #a52a2a;
}